.navbar{
    background-color: #a863e6;
    overflow: auto;
    margin: auto;
}

.navbar a{
    text-align: center;
    padding: 8px 16px;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #7c21cc;
}

.navbar a:loc{
    background-color: #5c149c;
    color: white;
}