.navbar{
    overflow: hidden;
    margin: auto;
}

.navbar a{
    float: left;
    text-align: center;
    padding: 10px 12px;
    font-size: 18px;
    color: black;
    background-color: #de96fa;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #a863e6;
}

.navbar a:active{
    background-color: #7c21cc;
}