.navbar{
    background-color: #de96fa;
    overflow: hidden;
    margin: auto;
}

.navbar a{
    text-align: center;
    padding: 4px 12px;
    font-size: 18px;
    color: black;
    background-color: #a863e6;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #7c21cc;
}

.navbar a:loc{
    background-color: #5c149c;
    color: white;
}